* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: semibold;
    src: url(../assets/font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: bold;
    src: url(../assets/font/Poppins-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(../assets/font/Poppins-Medium.ttf);
}

@font-face {
    font-family: light;
    src: url(../assets/font/Poppins-Light.ttf);
}



.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;

    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)  */
}

.home {
    color: #aaa;
    opacity: 1;
}

.nav {
    display: block;
    margin-top: 100px;
    float: none;
    width: 100%;
    transition: all ease 0s;
    margin-left: 0px;

}


.nav__link {
    color: #191a20;
    display: block;
    font-size: 16px;
    font-family: semibold;

}

.home__nav__link {
    color: #aaa;
    display: block;
    font-size: 16px;
    font-family: semibold;
}


.navbar__right {
    display: flex;
    justify-content: center;
    gap: 30px;


}

.line {
    border: none;
    border-top: 3px dotted #efefef;
    width: 100%;
    height: 1px;
    margin-bottom: 60px;

}

.line_2 {
    border: none;
    border-top: 3px dotted#efefef;
    width: 100%;
    height: 1px;
    margin: 60px 0px 80px 0px;

}

.line_3 {
    border: none;
    border-top: 3px dotted#efefef;
    width: 100%;
    height: 1px;
    margin: 150px 0px 80px 0px;

}

.content {
    gap: 30px;
    margin: 10px;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.content__left {
    width: 593px;
    display: flex;
    flex-direction: column;
    height: 510px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(../assets/img/image.png);


}

.content__right {
    width: 50%;



}

.we_are {
    color: #fff;
    width: 100%;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: bold;

}

.awesome {
    font-size: 16px;
    color: #fff;
    display: block;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px;
    font-family: regular;
}

.content__right__style {
    display: flex;
    width: 280px;
    height: 240px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    margin-bottom: 30px;

}

.woman_man {
    gap: 30px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.kids_accessories {
    gap: 30px;
    display: flex;
}

.btn {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    background-color: transparent;
    font-weight: 500;
    transition: ease all .3s;
    font-family: regular;
}

.btn_1 {
    font-size: 13px;
    color: black;
    border: 1px solid black;
    padding: 12px 25px;
    background-color: transparent;
    font-weight: 500;
    transition: ease all .3s;
    font-family: regular;
    margin-top: 35px;
}

.btn_1:hover {
    font-size: 13px;
    color: white;
    border: 1px solid #fff;
    background-color: black;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: ease all .3s;
    cursor: pointer;

}

.btn:hover {
    font-size: 13px;
    color: black;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: ease all .3s;
    cursor: pointer;
}

h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: bold;
}

.explore_text {
    color: black;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: bold;
}

.best_clothes {
    font-size: 16px;
    color: #fff;
    font-style: italic;
    font-family: regular;
}

.menlatest_content {
    padding: 20px 0;

}

.menlatest_content_tittle {
    font-family: bold;
    font-size: 34px;

}

.menlatest_content_tittle::selection {
    background-color: black;
    color: white;
}

.menlatest_content_descript {
    color: #a1a1a1;
    font-family: regular;
    font-style: italic;
}

.menlatest_content_descript::selection {
    background-color: black;
    color: white;
}

.menlatest_card {
    width: 33%;
}

.menlatest_card_image {
    width: 100%;
    height: 370px;
}

.menlatest_cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
    position: relative;
}

.menlatest_card_tittle {
    font-family: bold;
    font-size: 22px;
    color: #2a2a2a;

}

.menlatest_card_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 8px;
}

.menlatest_card_price {
    color: #a1a1a1;
    font-family: medium;

}

.span_1 {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
    font-family: medium;
    margin-top: 25px;
}

.text_p {
    display: flex;
    font-style: italic;
    color: #2a2a2a;
    font-weight: 500;
    margin-top: 25px;
    font-family: medium;
}

.support_text {
    color: #457de7;
}


.icon_quo {
    margin-right: 12px;
    font-size: 32px;

}

.content_explore_left {
    width: 50%;
}

.content_explore_right {
    width: 50%;
    height: 200px;

}

.content_explore {
    display: flex;
    gap: 40px;
}

.nav__link:hover {
    color: #aaa;
}

.content_right_right {
    width: 255px;
    height: 255px;

}

.content_right_leather {
    width: 255px;
    height: 255px;
    background-color: #f8f8f8;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content_right_top {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.content_right_bottom {
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.explore_img {
    width: 100%;
}

.text_leather {
    font-size: 24px;
    font-weight: 700;
    color: #2a2a2a;

}

.text_latest {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
    font-weight: 500;
    font-family: medium;
}

.content_right_left {
    width: 255px;
    height: 255px;
}

.content_right_diferent {
    width: 255px;
    height: 255px;
}

.image_social {
    display: flex;
    padding: 0px 0px 20px;
    margin: 70px 0px 0px;
}

.img_card {
    width: 185px;
    height: 185px;

}

.menlatest_card_icons {
    bottom: 0;
    /* opacity: 0; */
    z-index: 3;
    width: 100%;
    transform: translateY(100%);
    position: absolute;
    transition: .5s ease all;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menlatest_card_top {
    position: relative;
    overflow: hidden;
}

.menlatest_card_top:hover .menlatest_card_icons {
    opacity: 1;
    transform: translateY(-60%);
}

.menlatest_card_icon {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #2a2a2a;
    background-color: #fff;
}

.menlatest_cards_left_arrow {
    color: #2a2a2a;
    width: 50px;
    height: 50px;
    background-color: transparent;
    line-height: 48px;
    border: 1px solid #2a2a2a;
    position: absolute;
    left: -60px;
    top: 35%;
    text-align: center;
}

.menlatest_cards_right_arrow {
    width: 50px;
    height: 50px;
    color: #2a2a2a;
    background-color: transparent;
    line-height: 48px;
    border: 1px solid #2a2a2a;
    position: absolute;
    right: -60px;
    top: 35%;
    text-align: center;
}

.content_bysub_left {
    width: 60%;
}

.content_bysub {
    display: flex;
    gap: 60px;
}

.content_bysub_right {
    gap: 40px;
    width: 40%;

}

.content_bysub_right_row {
    display: flex;
    width: 100%;
    gap: 20px;
}

.content_bysub_right_row_left {
    width: 50%;
    height: 50px;
    margin-bottom: 40px;
}

.content_bysub_right_row_right {
    width: 50%;
    height: 50px;

}



.style_h6 {
    font-size: 16px;
    font-weight: 700;
    color: #2a2a2a;
    font-family: bold;
}

.style_span {
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    font-family: regular;
}

.input_style {
    width: 316px;
    height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border: 1px solid #7a7a7a;
    box-shadow: none;
    line-height: 44px;
    font-family: medium;


}

.input_two {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.paper_plane {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: ease all 0.3s;
}

.paper_plane:hover {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: ease all 0.3s;
    cursor: pointer;
}

.hexashop_black {
    background-color: #2a2a2a;
    width: 100%;
    padding: 60px 30px 30px 30px;
    margin-top: 80px;

}

.hexashop_content {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 14px;
    margin-left: 20px;
}

.img_hexashop {
    width: 159px;
    height: 59x;
}

.hexashop_h4 {
    font-family: bold;
    font-size: 16px;
}

.hexashop_a {
    font-family: regular;
    font-size: 14px;
    color: white;
}

.hexashop_a:hover {
    color: #aaa;
}

.line_4 {
    width: 100%;
    height: 1px;
    background-color: #626262;
    margin: 50px 0px 50px 0;

}

.hexashop_black__inside {
    display: flex;
}

.content_p {
    text-align: center;
    justify-content: center;
}

.style_p {
    font-family: light;
    font-size: 14px;
    color: #fff;
}

.icon_black {
    color: #ccffff;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;

}

.icon_black> :hover {
    color: #c66;
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;


}

.icon_black>i {
    font-size: 20px;
}

.template {
    color: #cff;
}

.template:hover {
    color: #c66;
}

.image_container {
    position: relative;
    display: inline-block;

}

.image_container img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.image_container:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 24px;
    margin-top: 5px;

}





html,
body {
    position: relative;
    height: 100%;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu_btn {
    display: none;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
}

.menu_btn_third,
.menu_btn_first {
    width: 24px;
    height: 2px;
    background-color: black;
}

.menu_btn_second {
    height: 2px;
    width: 32px;
    background-color: black;
}














@media only screen and (max-width:900px) {

    .home__nav__link,
    .nav__link {
        display: none;
    }


    .menu_btn {
        display: flex;
    }

    .content {
        flex-direction: column;
    }

    .content__left {
        width: 100%;
        height: 600px;
    }

    .content__right {
        width: 100%;
    }

    .woman_man,
    .kids_accessories {
        flex-direction: column;
    }


    .content__right__style {
        width: 100%;
        height: 600px;
    }

}

@media only screen and (max-width:500px) {
    
    .content__left {
        width: 100%;
        height: 400px;
        
    }
    .content__right__style {
        width: 100%;
        height: 400px;
    }

    .menlatest_content {
        width: 100%;
        height: 400px;
        
    }

    .menlatest_cards {
        width: 100%;
        flex-direction: column;
        margin-left: 10px;
    }
   .menlatest_card_top{
    width: 480px;
    /* height: 400px; */
   }
   
    

}